<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update_ads</title>
</head>
<body>
<form method="post" th:action="@{/updateAds/{id}(id=${views.getId()})}" th:object="${update}">
    <table>
        <tr>
            <td>Название</td>
            <td><input type="text" th:field="${views.title}"/></td>
        </tr>
        <tr>
            <td>Цена</td>
            <td><input type="number" th:field="${views.price}"/></td>
        </tr>
        <tr>
            <td>Описание</td>
            <td><input type="text" th:field="${views.description}"/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit" class="btn btn-success">Редактировать</button>
            </td>
        </tr>
    </table>
    <br>
    <form action="/me">
        <button>Личный кабинет</button>
    </form>
</form>
</body>
</html>